{% import "@oho_base/includes/oho-macros.html.twig" as oho_macros %}
<article class='profile-item profile-item--horizontal'>
  {% if content.field_profile_image|render %}
    <div class='profile-item__media profile-item__column'>
      {{ content.field_profile_image }}
    </div>
  {% endif %}
  <div class='profile-item__meta profile-item__column'>
    <h3 class='arrow-link'><a href="{{ url }}">{{ node.label }}</a></h3>
    {{ oho_macros.field_wrapper(content.field_profile_position, 'span', 'profile__item__position') }}
  </div>
  {% if content.field_profile_phone_number|render or
      content.field_profile_email|render %}
    <div class='profile-item__contact profile-item__column'>
      {% if content.field_profile_phone_number|render %}
        <span class="profile-item__contact__item phone"><i class='fi flaticon-phone'></i> <span>{{ oho_macros.field_subset(content.field_profile_phone_number, 1, 1) }}</span></span>
      {% endif %}
      {% if content.field_profile_email|render %}
        <span class="profile-item__contact__item email"><i class='fas fa-envelope'></i> <span>{{ content.field_profile_email }}<span></span>
      {% endif %}
    </div>
  {% endif %}
</article>
