{% if q is not empty %}
  {{ q }}
{% endif %}

<div class="grid-x grid-margin-x">
  <div class="cell initial-12 medium-8 columns">
    <div class="listing__form__submit-container">
      {{ form.search }}
      {{ form.actions }}
    </div>
  </div>
  <div class="cell initial-12 medium-4 columns">
    {{ form.topic }}
  </div>
  <div class="cell initial-12 medium-4 columns">
    {{ form.subject }}
  </div>
  <div class="cell initial-12 medium-4 columns">
    {{ form.school }}
  </div>
  <div class="cell initial-12 medium-4 columns">
    {{ form.organization }}
  </div>

  {{ form|without('search', 'subject', 'topic', 'school', 'organization', 'actions') }}
</div>
