
{#
  /**
   * Template to display the block display for the librarySystem_status View.
* This custom template adds the grid-x and grid-margin-x classes to the div that contains the Views results, and adds the cell that defines the grid row in which the More Link button resides.
   */
#}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}


  {{ header }}

  {{ attachment_before }}

    <div class="grid-x grid-margin-x">
        {{ rows }}
        {{ empty }}
        {{ pager }}
      

<div class="cell large-offset-1 medium-offset-2 initial-offset-2">
    <br>
  {{ attachment_after }}
  {{ more }}
        </div>

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}
    </div>

  {{ feed_icons }}
</div>
