{#
  /**
   * Template to override the block display of the events feed view.
* This custom template adds Foundation grid classes, a view-specific heading, and other theme related elements around the view content.
   */
#}



{% set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'listing listing--news',
  'global-spacing--large',
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}


<div class="global-spacing--small">
<div class="grid-container">
<div class="lined-section-heading lined-section-heading--linked">
      <h2>Events</h2>
                            <a href="https://iit.libcal.com/calendar/galvin?cid=15062&t=g&d=0000-00-00&cal=15062&inc=0" class="btn btn--heading">Galvin Library Events</a>
      </div>
</div>
</div>


  {{ header }}

  {{ attachment_before }}

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
     <!-- <div class="cell medium-auto">-->
        {{ rows }}
        {{ empty }}
        {{ pager }}
      </div>
   </div> 
  <!-- </div> -->

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
