<div class='podcast'>
  <div class='global-spacing--small'>
    <iframe src="//html5-player.libsyn.com/embed/episode/id/{{ episode_id }}/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/backward/render-playlist/no/custom-color/cc0000/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </div>
  <ul class="podcast-subscribe-buttons">
    <li>
      <a href="https://itunes.apple.com/us/podcast/curiosity-unplugged/id1382726976?mt=2">
        <img src="/themes/iit/assets/img/apple-podcasts.svg" alt="{{ 'Listen on Apple Podcasts'|t }}" class="img-responsive">
      </a>
    </li>
    <li>
      <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&apn=com.google.android.music&link=https://play.google.com/music/m/Ioawlvg53xq5abfbvzotwbrdjpm?t%3DCuriosity_Unplugged%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16" rel="nofollow">
        <img src="https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png" alt="{{ 'Listen on Google Play Music'|t }}" class="img-responsive">
      </a>
    </li>
    <li>
      <a href="https://www.stitcher.com/s?fid=186814&amp;refid=stpr" rel="nofollow">
        <img src="/themes/iit/assets/img/stitcher.svg" alt="{{ 'Listen on Stitcher'|t }}" class="img-responsive">
      </a>
    </li>
    <li>
      <a href="http://curiosityunplugged.libsyn.com/rss">
        <img src="/themes/iit/assets/img/subscribe-rss.svg" alt="{{ 'Subscribe via RSS Feed'|t }}" class="img-responsive">
      </a>
    </li>
  </ul>
</div>
