<article class="landing-page">

  {{ hero }}

  <section class='section--marketing-intro global-spacing--xlarge'>
    <div class='grid-container'>
      <div class='grid-x grid-margin-x'>

        {{ content.field_webform_section }}

        <div class='initial-12 medium-8 cell medium-order-1'>
          <article class="clearfix full-wysiwyg">
            {{ content.body }}
            {{ content.field_expandable_section }}
          </article>
        </div>

      </div>
    </div>
  </section>

  {{ content.field_page_components }}

</article>
