<article class="homepage">
  {# {{ hero }} #}

  <div class='parallax-mask'>
    <img src="{{ base_path ~ directory }}/assets/img/wsj-homepage_2400x1200-r1.jpg" width="2400" height="1200" alt="Campus image with overlay saying Rise with Us - #1 in Illinois | #23 in the U.S. Best Colleges" role="img" style="display:block;">

    {{ content.field_differentiators_section }}

    {{ content.field_home_cta_section }}

    {{ content.field_outcome_stories_section }}

    {{ content.field_home_news_section }}

    {{ content.field_checkerboard }}

    {{ content.field_home_events_section }}
  </div>
</article>
